-r requirements.in
coverage>=7.9.1
{%- if cookiecutter.use_debugpy == 'y' %}
debugpy>=1.8.14
{%- endif %}
django-debug-toolbar>=5.2.0
freezegun>=1.5.2
{%- if cookiecutter.use_celery == 'y' %}
flower>=2.0.1
{%- endif %}
ipython>=9.3.0
jupyterlab>=4.4.3
model-bakery>=1.20.5
pytest>=8.4.1
pytest-cov>=6.2.1
pytest-django>=4.11.1
pytest-django-queries>=1.2.0
pytest-env>=1.1.5
pytest-flakefinder>=1.1.0
pytest-mock>=3.14.1
pytest-sugar>=1.0.0
pytest-timeout>=2.4.0
pytest-xdist>=3.7.0
ruff>=0.12.0
tox>=4.27.0
